@charset "UTF-8";
.slick-active {
  outline: none !important;
}

button:focus, input:focus, textarea:focus, a:focus {
  outline: none;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?84574325");
  src: url("../fonts/fontello.eot?84574325#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?84574325") format("woff2"), url("../fonts/fontello.woff?84574325") format("woff"), url("../fonts/fontello.ttf?84574325") format("truetype"), url("../fonts/fontello.svg?84574325#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84574325#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vk:before {
  content: '\e800';
}

/* '' */
.icon-facebook:before {
  content: '\e801';
}

/* '' */
.icon-menu:before {
  content: '\f0c9';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
html {
  width: 100%;
  font-size: 10px;
}

body {
  padding-top: 40px;
  background: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 14px;
}

a {
  color: #009adf;
}

h2 {
  font-size: 24px;
}

.btn {
  padding: 20px 30px;
  display: inline-block;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #009adf;
  border-bottom: 5px solid #0077ac;
}

.btn-primary:hover {
  background-color: #00a8f3;
}

.top-nav {
  width: 100%;
  background-color: #ffffff;
  padding: 15px 34px;
  position: relative;
}

.top-nav__logo {
  display: inline-block;
}

.top-nav__btn {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: -50%;
}

.top-nav__btn:hover {
  cursor: pointer;
}

.top-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.top-nav__menu li {
  margin-right: 34px;
}

.top-nav__menu li:last-child {
  margin-right: 0;
}

.top-nav__menu li a {
  color: #131313;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.top-nav__menu li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #009adf;
  transform: translateY(37px) scale(0);
  transition: all 0.2s;
}

.top-nav__menu li a:hover {
  text-decoration: none;
}

.top-nav__menu li a:hover::after {
  transform: translateY(37px) scale(1);
}

.left-sidebar {
  margin-top: 4rem;
}

.left-sidebar__btn {
  display: none;
  background-color: #ffffff;
  padding: 15px;
  position: relative;
}

.left-sidebar__btn:hover {
  cursor: pointer;
}

.left-sidebar__btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 55%;
  margin-top: -10px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #131313;
  border-right: 2px solid #131313;
  transform: rotate(45deg);
}

.left-sidebar__menu {
  background-color: #ffffff;
  list-style: none;
  padding: 0;
}

.left-sidebar__menu li {
  transition: all 0.2s;
}

.left-sidebar__menu li:first-child a {
  padding-top: 20px;
}

.left-sidebar__menu li:last-child a {
  padding-bottom: 20px;
}

.left-sidebar__menu li:hover {
  background-color: #009adf;
}

.left-sidebar__menu li:hover a {
  color: #ffffff;
}

.left-sidebar__menu li a {
  display: block;
  padding: 15px 29px;
  text-decoration: none;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.left-sidebar__object {
  margin-top: 30px;
  background-color: #ffffff;
}

.left-sidebar__object img {
  width: 100%;
}

.left-sidebar__object-description {
  padding: 30px;
  color: #959595;
}

.left-sidebar__object-description h3 {
  font-weight: 400;
}

.content {
  margin-top: 4rem;
  margin-bottom: 7.6rem;
}

.content p {
  color: #3d3d3d;
}

.content a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.directions {
  margin-top: 80px;
}

.directions-blocks {
  background-color: #eef3f5;
  margin-top: 40px;
}

.directions-block {
  max-width: 170px;
  width: 100%;
  background-color: #ffffff;
  height: 220px;
  text-align: center;
  padding: 15px 20px;
  margin: 0 auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.directions-block h3 {
  color: #009adf;
}

.footer {
  margin-top: 60px;
  background-color: #131313;
  color: #2f2f2f;
  padding: 59px 0;
}

.footer-policy {
  font-size: 12px;
}

.footer a {
  color: #2f2f2f;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}

.footer small {
  display: block;
  margin-top: 56px;
  font-size: 10px;
  line-height: 16px;
  max-width: 80%;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  line-height: 32px;
}

.footer-contacts, .footer-social-links {
  text-align: right;
  margin-bottom: 35px;
}

.footer-contacts__phone {
  font-size: 20px;
  font-weight: 500;
}

.footer-contacts__phone a {
  color: #009adf;
}

.footer-social-links li {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.team {
  text-align: center;
}

.team-img {
  margin-top: 4rem;
}

.team h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #3d3d3d;
  line-height: 1.667;
}

.team p {
  color: #3d3d3d;
  line-height: 1.429;
}

.contacts a {
  text-transform: none;
}

.contacts-phone a, .contacts-email a {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.063;
  padding-left: 35px;
  color: #131313;
}

.contacts-phone a {
  background-image: url("/img/contacts/tel.svg");
  background-repeat: no-repeat;
  background-size: 20px 100%;
  background-position: left center;
}

.contacts-email a {
  background-image: url("/img/contacts/mail.svg");
  background-repeat: no-repeat;
  background-size: 27px 100%;
  background-position: left center;
  text-transform: lowercase;
}

.contacts-address {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.contacts-btn {
  margin-top: 35px;
  max-width: 270px;
  width: 100%;
  text-align: center;
}

.contacts-social-links ul {
  margin-top: 36px;
  padding: 0;
  text-align: left;
  list-style: none;
}

.contacts-social-links ul li {
  display: inline-block;
  margin-right: 15px;
}

.org-card {
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 40rem;
  transition: all 0.2s;
}

.org-card:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 1, 0.1);
}

.org-card__title {
  display: block;
  margin-bottom: 20px;
}

.org-card small {
  color: #898989;
  font-size: 12px;
  line-height: 1.333;
}

.org-card p {
  line-height: 22px;
}

.calc h4 {
  margin-top: 0;
  margin-bottom: 30px;
}

.calc-progs {
  display: flex;
  flex-wrap: wrap;
}

.calc-legal {
  font-size: 11px;
}

.calc-radio {
  flex-basis: 50%;
}

.calc-radio:last-child {
  flex-basis: 100%;
  display: flex;
}

.calc-radio label {
  display: inline-block;
  margin-bottom: 20px;
}

.calc-radio label small {
  display: block;
  margin-left: 28px;
  color: #898989;
  font-size: 10px;
  opacity: 0.9;
}

.calc-radio label:hover {
  cursor: pointer;
}

.calc-radio label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: #009adf;
  border: 6px solid #ffffff;
  width: 24px;
  height: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 1, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
}

.calc-radio input[type="radio"] {
  display: none;
}

.calc-radio input[type="radio"]:checked + label::before {
  background-color: #009adf;
  border: 6px solid #ffffff;
}

.calc-popular {
  padding: 0 5px;
  margin-left: 16px;
  height: 25px;
  background-color: #009adf;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
}

.calc-popular::before {
  content: '';
  width: 6px;
  height: 13px;
  border: 6px solid transparent;
  border-right: 6px solid #009adf;
  position: absolute;
  left: -12px;
  top: 6px;
}

.calc-summ__invest {
  margin-top: 30px;
}

.calc-summ__invest_label {
  margin-right: 10px;
}

.calc-summ__invest_num {
  display: inline-block;
  padding: 10px 48px;
  background-color: #ffffff;
  font-size: 18px;
}

.calc-monthly {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  background-color: none;
  padding: 10px 24px;
}

.calc-total {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  padding: 10px 24px;
  margin-right: 40px;
}

.calc-total strong {
  font-size: 18px;
  color: #009adf;
  font-weight: 400;
}

.calc-total small {
  font-size: 10px;
  font-weight: 700;
}

.calc-monthly {
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

.calc-monthly small {
  font-size: 10px;
}

.obj-card {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.obj-card img {
  width: 100%;
}

.obj-card__text {
  padding: 30px;
}

.obj-card__title {
  display: block;
  font-size: 16px;
  text-transform: none !important;
}

.obj-card__price {
  text-align: center;
  color: #009adf !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

.obj-card__btn {
  display: block;
  text-align: center;
}

.obj-card__more {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #131313;
  font-weight: 400 !important;
  text-transform: none !important;
  text-decoration: underline !important;
}

.obj-page__gallery {
  float: right;
}

.obj-page__text a {
  margin-top: 25px;
  text-transform: none;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  padding: 30px 50px;
  width: 100%;
  max-width: 370px;
  margin: 150px auto;
  text-align: center;
  box-shadow: 0 12px 24px rgba(0, 0, 1, 0.18);
}

.modal-content .close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  line-height: 1;
  font-size: 20px;
  opacity: 0.5;
}

.modal-content .close:hover {
  cursor: pointer;
}

.modal-content h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  color: #009adf;
}

.modal-content p {
  font-size: 12px;
  margin-top: 0;
}

.modal-form {
  margin-top: 37px;
}

.modal-form input {
  display: block;
  width: 100%;
  border: 1px solid #959595;
  border-radius: 4px;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.modal-form__btn {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}

@media (max-width: 480px) {
  .top-nav__btn {
    display: block;
    position: absolute;
    right: 20px;
    top: -50px;
  }
  .top-nav__menu {
    flex-direction: column;
    display: none;
  }
  .top-nav__menu li {
    line-height: 2;
  }
  .top-nav__menu li a::after {
    display: none;
  }
  .top-nav__menu_active {
    display: flex;
  }
  .directions-block {
    max-width: 38.4rem;
    min-width: 28.9rem;
    width: 100%;
    margin: 0 auto;
  }
  .copy {
    text-align: center;
  }
  .copy small {
    display: block;
    margin: 36px auto;
  }
  .footer-contacts, .footer-social-links {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .top-nav__btn {
    display: block;
    position: absolute;
    top: -45px;
    right: -21%;
  }
  .top-nav__menu {
    flex-direction: column;
    display: none;
  }
  .top-nav__menu li {
    line-height: 2;
  }
  .top-nav__menu li a::after {
    display: none;
  }
  .top-nav__menu_active {
    display: flex;
  }
  .left-sidebar__btn {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
  }
  .left-sidebar__menu {
    display: none;
  }
  .left-sidebar__menu_active {
    display: block;
  }
  .left-sidebar__object {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
  .top-nav__btn {
    display: block;
    position: absolute;
    right: 2%;
    top: -47px;
  }
  .top-nav__menu {
    flex-direction: row;
    right: 15px;
    top: 50%;
    display: none;
  }
  .top-nav__menu_active {
    display: flex;
    margin-bottom: 0;
    justify-content: space-around;
  }
  .top-nav__menu li {
    margin-right: 0;
    line-height: 2;
  }
  .footer-contacts, .footer-social-links {
    margin-bottom: 30px;
  }
  .footer-contacts__phone {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .top-nav__menu li {
    margin-right: 23px;
  }
  .top-nav__menu li a {
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  .top-nav__menu li {
    margin-right: 20px;
  }
}

@media (max-width: 1900px) {
  .top-nav__menu li {
    margin-right: 26px;
  }
}
/*# sourceMappingURL=main.css.map */