@import '_colors'
@import '_reset'
@import 'fontello'


html
  width: 100%
  font-size: 14px

body
  padding-top: 40px
  background: $body_bg
  color: $text_clr
  font-family: 'Roboto', sans-serif
  margin: 0
a
  color: $active_clr
h2
  font-size: 24px

.btn
  padding: 20px 30px
  display: inline-block
  color: $white
  border-radius: 5px
  &-primary
    background-color: $active_clr
    border-bottom: 5px solid darken($active_clr, 10%)
    &:hover
      background-color: lighten($active_clr, 4%)

.top-nav
  width: 100%
  background-color: $white
  padding: 15px
  position: relative
  &__logo
    display: inline-block
  &__btn
    display: none
    background-color: red
    width: 30px
    height: 30px
    background-color: transparent
    border: none
    font-size: 20px
    position: absolute
    right: 15px
    top: -50px
    &:hover
      cursor: pointer
  &__menu
    list-style: none
    padding: 0
    display: flex
    li
      margin-right: 45px
      a
        color: $text_clr
        text-transform: uppercase
        text-decoration: none
        font-weight: 700
        &::after
          content: ''
          display: block
          width: 100%
          height: 2px
          background-color: $active_clr
          transform: translateY(37px) scale(0)
          transition: all 0.2s
        &:hover
          text-decoration: none
          &::after
            transform: translateY(37px) scale(1)
.left-sidebar, .content
  margin-top: 40px
  &__menu
    background-color: $white
    list-style: none
    padding: 0
    li
      transition: all 0.2s
      &:first-child
        a
          padding-top: 20px
      &:last-child
        a
          padding-bottom: 20px
      &:hover
        background-color: $active_clr
        a
          color: $white
      a
        display: block
        padding: 15px 29px
        text-decoration: none
        color: $text_clr
        font-size: 16px
        font-weight: 400
        line-height: 1.25
  &__object
    margin-top: 30px
    background-color: $white
    &-description
      padding: 30px
      color: $leftSideObjText
      h3
        font-weight: 400
.content
  // margin-top: 40px
  p
    color: $text_second
  a
    text-decoration: none
    font-weight: 700
    text-transform: uppercase
.directions
  margin-top: 80px
  &-blocks
    background-color: $body_bg
    margin-top: 40px
  &-block
    max-width: 170px
    width: 100%
    background-color: $white
    height: 220px
    text-align: center
    padding: 15px 20px
    margin: 0 auto
    background-position: bottom center
    background-repeat: no-repeat
    h3
      color: $active_clr
        // padding-top: 23px
.footer
  margin-top: 60px
  background-color: $text_clr
  color: $footer_text
  padding: 59px 0
  &-policy
    font-size: 12px
  a
    color: $footer_text
    text-decoration: none
    &:hover
      color: $white
  small
    display: block
    margin-top: 56px
    font-size: 10px
    line-height: 16px
    max-width: 80%
  ul
    padding: 0
    list-style: none
    li
      line-height: 32px
  &-contacts
    text-align: right
    margin-bottom: 35px
    &__phone
      font-size: 20px
      font-weight: 500
      a
        color: $active_clr
  &-social-links
    @extend .footer-contacts
    li
      display: inline-block
      width: 35px
      height: 35px

@import '_media'
